{{ define "title" }}
  {{ title (i18n (lower .Title)) | default .Title }} · {{ .Site.Title }}
{{ end }}

{{ define "head" }}

{{ end }}

{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "content" }}
    <style>
        .projects-list {
            display: flex;
            flex-grow: 1;
            margin: 0;
            padding: 0;
            list-style: none;
            justify-content: space-evenly;
        }

        .project-item {
            
        }

        .project-item a {
            display: flex;
            justify-content: center;
            align-items: baseline;
            padding: 4px 0;
        }
    </style>

	<section class="container list">
        <h1 class="title">
            <a class="title-link" href="{{ .Permalink | safeURL }}">
                {{ title (i18n (lower .Title)) | default .Title }}
            </a>
        </h1>
        {{ .Content }}
        <div class="projects-list">
            {{- range .Pages }}
            <div class="project-item">
                
                <a href="{{.Permalink}}">
                    {{ $image := .Resources.GetMatch .Params.thumbnail }}
                    {{ with $image }}
                        <img src="{{ ($image.Fill "300x200 q100 Center").RelPermalink }}">
                    {{ end }}
                </a>
                
                <a href="{{.Permalink}}">
                    <span class="project-title">{{.Title}}</span>
                </a>
            </div>
            {{- end }}
        </div>
	</section>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
